<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>URL Shortener</title>
  </head>
  <body>
    <div class="container">
      <h1>URL Shortener</h1>
      <form action="/api/url/shorten" method="POST" class="my-4 row row-cols-lg-auto">
        <div class="col col-6">
          <label for="longUrl" class="visually-hidden">URL</label>
          <input
            type="url"
            name="longUrl"
            id="longUrl"
            placeholder="Url"
            required
            class="form-control mr-2 col"
          />
        </div>
        <div class="col col-4">
          <label for="memo" class="visually-hidden">URL</label>
          <input
            type="text"
            name="memo"
            id="memeo"
            placeholder="Memo"
            class="form-control mr-2 col"
          />
        </div>
        <button type="submit" class="btn btn-success col-2">Shorten</button>
      </form>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Long URL</th>
              <th>Short URL</th>
              <th>Memo</th>
              <th>Clicks</th>
            </tr>
          </thead>
          <tbody>
            <% shortUrls.forEach(shortUrl => {%>
            <tr>
              <td>
                <a href="<%= shortUrl.longUrl %>"><%= shortUrl.longUrl %></a>
              </td>
              <td><a href="<%= shortUrl.shortUrl %>"><%= shortUrl.shortUrl %></a></td>
              <td><%= shortUrl.memo %></td>
              <td><%= shortUrl.clicks %></td>
            </tr>
            <%}) %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
